*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito,sans-serif;
}

body{
    font-family: Nunito,sans-serif;
    
}

li{
    list-style: none;
    margin-top: 3px;
}
.small_head{
    width: 100%;
    height: 28px;
    background-color: #f5f4f4;
}
header{
  width: 100%;
  height: 69px;
 
}
nav{
    display: flex;   
    justify-content: center;
    margin-left: 242px;

    
}
.logo{
    width: 130px;
    height: 200px;
    margin-top: 13px;
    margin-left: -288px;
    padding-right: 30px;
    cursor: pointer;
}
.nav_links ul {
    display: flex;
}

.nav_links ul{
list-style: none;
margin-top: 24px;
}
.nav_links ul a{
   text-decoration: none;
    color: rgb(84, 81, 81);
    font-size: 14px;
    font-weight: 450;
    cursor: pointer;
}

.nav_links ul li{
    position: relative;
    left: 0;
    top: 100%;
}
.nav_links ul li :hover{
    color: red;
    transition: .2s;
}

.phone{
    margin-left: 130px;
    margin-top: 24px;
    padding-right: 30px;
    cursor: pointer;
}
.icon{
    margin-top: 13px;
    padding-right: 30px;   
    cursor: pointer;
}

.icon p{
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
}

.down{
    width: 26px;
}
.down1{
    display: inline;
}

.material-symbols-outlined{
    padding-right: 30px;
}


/* hero */
.hero{
     display: flex;
    width: 100%;
    height: 151px;
    background-color: #A60000;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -4px;
}
    
   

.hero h4{
    font-size: 20px;
    color: #fff;
    line-height: 1.9;
}


.hero p{
    color: #fff;
    font-size: 18px;
    font-weight: 200;
}


.button{
    display: flex;
    font-size: 13px;
    border: 1px solid rgb(255, 255, 255);
    color: #E40001;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;  
}

.hero_icon{
    margin-right: 5px;
}

.icons ul{
    width: 100%;
    display: flex;

   
    /* flex-direction: row-reverse; */
}

/* INput */
.recharge_form{
    /* display: flex; */
    
}
#input{
   /* margin-top: 10px;
   padding: 10px;
   outline: none;  */
  
}

 
.container{
    background-color: #F2F4F5;
    padding-top: 1px;
}

.hero2{
    display: flex;
    width: 100%;
    height: 420px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.menu_box{
    width: 156px;
    height: 126px;
    background-color:#fff;
    margin-top: 110px;
    margin: 10px;
    font-family: Nunito,sans-serif;
    box-shadow: 0 0 9px 0 hsl(0deg 0% 84% / 50%);
    border-radius: 3px;
    transition: 300ms ease;
}
.menu_box img{
    margin: 15px 20px;
}
.menu_box p{
    margin: 10px 20px;
}

.menu_box:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.h1_header{
    margin-top: 66px;
    margin-left: 161px;
}



/* hero3 */

.hero3{
    position: relative;
    width: 100%;
    height: 543px;
    background-color: rgb(9, 9, 9);
    padding-top: 1px;
}
.airtel_black_main{
    position: absolute;
    top: 93px;
    left: 744px;
}

/* hero3 */
.heading{
    font-size: 36px;
    line-height: 48px;
    margin-top: 60px;
    color: #fff;
}

.sub_head{
    font-size: 18px;
    line-height: 28px;
    margin-top: 24px;
    font-weight: 400;
    line-height: 20px;
    color: #979797;
}

.head_box{
    margin-left: 222px;
    margin-top: 80px;
}
.butten{
    width: 308px;
    padding: 20px 40px;
     background: radial-gradient(87.5% 87.5% at 29.69% 6.25%,#970000 0,#400707 100%);;
     border-radius: 50px;
     margin-top: 55px;
}
.butten a{
    color: #fff;
    text-decoration: none;
    letter-spacing: .08em;
}
/* hero4 */
.hero4{
  position: relative;
    width: 100%;
    height: 622px;
  
}
.hero_postpaid{
   position: absolute;
   top: 100px;
   right: 200px;
  
}
.content{
    position: absolute;
    top: 60px;
    left: 230px;
    line-height: 1.6;
}
.post p{
    font-size: 30px;
    margin-bottom: 20px;
}
span{
    color: #c90707;
}
.head1{
    margin-bottom: 30px;
}

.sub-text{
    color: #474545;
    font-size: 19px;
}
.choose p{
   
    font-size: 14px;
    color: #979797;
}
.choose{
    margin: 30px 10px 0px 0px;
}
.best_selling{
    font-size: 21px;
    color: #474545;
}
.plan_cards{
    display: flex;
    margin-top: 30px;
}

.plan_cards .menu_box p{
    font-size: 12px;
    color: #979797;
}
.plan_cards .menu_box h1{
    color: #474545;
    margin-left: 20px;
}

.plan_cards .menu_box a{
    text-decoration: none;
    margin-left: 20px;
    color: #c90707;
}


.hereo5{
    width: 100%;
    height: 500px;
    background-image: url(hero5_bg.webp);
    background-color: #A60000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image_boy{

}

.image_boy img{
    border: 15px solid white;
}
.head{
    color: #fff;
margin-bottom: 40px;
}
.head1{
    color: black;
    line-height: 1.5;
}

.content_box{
    margin-right: 102px;
    margin-top: -61px;
}

.btn-btn button{
    padding: 3px 8px;
    border-radius: 5px;
    border: 1px solid white;
    color: #A60000;
    text-align: center;
    transition: .3s ease;
    background-color: white;
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.btn-btn button p{
    display: inline;
    font-size: 14px;
    margin-bottom: 10px;
}


.btn-btn button:hover{
    color: white;
    background-color: #A60000;
    cursor: pointer;
}


.btn-main button{
    padding: 13px 28px;
    border-radius: 5px;
    border: none;
    color: #c90707;
    transition: .3s ease;
}
 .btn-main button:hover{
    cursor: pointer;
    color: #fff;
    background-color: #c90707; 
}

/* hero6 */
.hero6{
    position: relative;
    width: 100%;
    height: 861px;
}


.xtream{
  position: absolute;
  top: 50px;
 right: 47%;
}

.main_img{
    position: absolute;
    top: 200px;
    right: 30%;
}
.head3{
    position: absolute;
  top: 130px;
 right: 28%;
 color: #474545;
}
/* prooduct box */
.product_box{
    display: flex;
    position: absolute;
    top: 614px;
    right: 15%;
}

.box{
    margin-right: 20px;
    background-color: white;
    box-shadow: 0 0 9px 0 hsl(0deg 0% 84% / 50%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inner_box{
    padding: 10px;
}

.inner_box button{
    background-color: #e40001;
    color: #fff;
    padding: 11px 112px;
    border-radius: 5px;
    border: none
}
.inner_box button:hover{
    background-color: #393939;
    cursor: pointer;
}

/* hero7 */
.hero7{
    position: relative;
    width: 100%;
    height: 410px;
    background-image: url(hero5_bg.webp);
    background-color: #A60000;
}

.content_con{
    color: white;
    position: absolute;
    top: 100px;
    left: 154px;
}
.main_image{
    position: absolute;
    top: 28px;
    right: 154px;
}

.tab{
margin-bottom: 40px;

}
.tab1{
margin-bottom: 10px;
}

.tab button{
    margin-top: 25px;
}


.hero8{
    width: 100%;
    height: 400px;
    background-color: #E9E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #474545;
}

.wynk{
    margin-right: 60px;
}

.a{
    margin-bottom: 35px;
}
.aa{
    margin-bottom: 10px;
}

.hero9{
    background-image: url(hero5_bg.webp);
    width: 100%;
    height: 545px;
    background-color: #A60000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.b{
    margin-right: 200px;
}
/* footer */

footer{
    width: 100%;
    height: 653px;
}

.lists{
    display: flex;
    justify-content: center;
}

.c{
    margin:60px;
}

.c ul li a{
    text-decoration: none;
    font-size: 12px;
    color: #474545;
}

.c ul li a:hover{
    color: red;
    cursor: pointer;
}

.connect{
    display: flex;
    align-items: center;
}

.connect :not(:hover){
    filter: grayscale(5.5);
}
.d  ul li {
    display: inline;
   margin-right: 10px;
    color: #979797;
    font-size: 12px;
}

.d li:hov{
color: #E40001;
cursor: pointer;
}

form{
    display:flex;
    flex-direction:row;
   border: 5px solid white;
    margin-top: 15px;
    border-radius: 5px;
}

input{
    flex-grow:2;
    border:none;
    padding: 20px;
}

input:focus {
    outline: none;
}

Button.input_btn{
    background:#E40001;
    color:white;
    border:none;
    outline: 1px solid white;
    border-radius: 5px ;
   
}

button{
    display: flex;
}